//@import "modern-normalize.css";
@import "developer-settings";
@import "variable";
@import "reset.css";
@import "project-settings";

#authorize-button {
  width: 100px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: rem(16);
  height: rem(16);
  background-image: url("../img/close.svg");
  background-size: contain;
  cursor: pointer;
}

.checked {
  position: absolute;
  top: rem(24);
  right: 0;
  width: rem(16);
  height: rem(16);
  background-image: url("../img/checked.svg");
  background-size: contain;
  cursor: pointer;
}

#calendar {
  font-family: inherit;
  //width: rem(700);
  width: 700px;
  height: auto;
  background: #269fd8;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  position: relative;
  //padding: rem(10);
  .caledarHeader span {
    width: rem(40);
    height: rem(16);
    background-image: url("../img/arrow1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    //border-radius: 50%;
    border: none;
    font-weight: bold;
    font-size: rem(6);
    //text-align: center;
    //color: black;
    outline: none;
    cursor: pointer;

  }
  .calendarWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: rem(1) solid #c6dcee;
    div {
      &:nth-child(13) p {
        color: #ff3b00cc
      }
      &:nth-child(14) p {
        color: #ff3b00cc
      }
      &:nth-child(20) p {
        color: #ff3b00cc
      }
      &:nth-child(21) p {
        color: #ff3b00cc
      }
      &:nth-child(27) p {
        color: #ff3b00cc
      }
      &:nth-child(28) p {
        color: #ff3b00cc
      }
      &:nth-child(34) p {
        color: #ff3b00cc
      }
      &:nth-child(35) p {
        color: #ff3b00cc
      }
      &:nth-child(41) p {
        color: #ff3b00cc
      }
      &:nth-child(42) p {
        color: #ff3b00cc
      }
      &:nth-child(48) p {
        color: #ff3b00cc
      }
      &:nth-child(49) p {
        color: #ff3b00cc
      }
      width: calc(100% / 7);
      height: rem(50);
      text-align: center;
    }

    .day {
      position: relative;
      &.active .label + p {
        color: #000000 !important;
      }

      &.active p {
        color: #000000;
        opacity: 0.8;
      }
      p {
        width: rem(50);
        height: rem(18);
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        color: white;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
        &:hover:after {
          background-color: #91d9d9;
          border-radius: 50%;
          opacity: 0.5;
        }
        &:after {
          border-radius: 50%;
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: rem(50);
          height: rem(50);
          margin: auto;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }

    .label {
      position: absolute;
      top: 0;
      color: #81be55;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      //left: 0;
      border-radius: 50%;
      & + p {
        color: #ffffff !important;
      }
    }
  }
}

.caledarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: rem(70);
  p {
    margin-left: rem(20);
    margin-right: rem(20);
  }
  div {
    padding-left: rem(50);
    padding-right: rem(50);
    color: white;
  }
}

//=====================================animation==============================================

.animation {
  animation: zoomIn 300ms ease-in forwards;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

//=====================================details==============================================

.leftEmersion-enter {
  transform: translateX(rem(-270));
}

.leftEmersion-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in
}

.leftEmersion-exit {
  transform: translateX(0);
}

.leftEmersion-exit-active {
  transform: translateX(rem(-270));
  transition: transform 500ms ease-in
}

//=====================================colors==============================================

.rightEmersion-enter {
  transform: translateX(rem(270));
}

.rightEmersion-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in
}

.rightEmersion-exit {
  transform: translateX(0);
  transition: transform 500ms ease-in
}

.rightEmersion-exit-active {
  transform: translateX(rem(270));
  transition: transform 500ms ease-in
}

//=====================================dissolution==============================================

.dissolution-enter {
  opacity: 0;
}

.dissolution-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in !important;
  transition-delay: 500ms !important;
}

.dissolution-exit {
  opacity: 1;
}

.dissolution-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

//========================================================================================

#modal {
  overflow: hidden;
  width: rem(300);
  height: auto;
  min-height: rem(300);
  position: absolute;
  //background: white;
  //opacity: 0.8;
  transform: translateX(-100%);
  transition-duration: 1s;
  text-align: center;
  z-index: 100;
  &.open {
    transform: translateX(0%);
  }

  button {
    width: rem(100);
    height: rem(30);
    margin: 0 auto;
    cursor: pointer;
    font-size: rem(12);
    // padding: 1.25rem 2.5rem;
    display: block;
    background-color: #009ac9;
    border: rem(1) solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: rem(0);
    border-radius: rem(0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  button:hover {
    background-color: inherit;
    color: #009ac9;
    border-color: #009ac9;
  }
}

.createEvent {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: rem(30);
  background: white;

}

.button-previos {
  transform: rotate(180deg);

}

.button-next {

}

.google-button {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: rem(100);
  p {
    font-size: rem(10);
  }
  button {
    width: 6.25rem;
    height: 1.875rem;
    margin: 0 auto;
    cursor: pointer;
    font-size: 0.9625rem;
    display: block;
    background-color: #009ac9;
    border: 0.0625rem solid transparent;
    color: #ffffff;
    font-weight: 300;
    padding-right: 0.9625rem;
    -webkit-border-radius: 0rem;
    border-radius: 0rem;
    position: relative;
    line-height: 0;
    &:after {
      content: "";
      position: absolute;
      width: 0.9625rem;
      height: 0.9625rem;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../img/Google-Chrome-Browser-Logo.png");
      margin: auto;
      bottom: 0;
      top: 0;
      right: rem(4);
    }
  }
}

#signout-button {

}

#authorize-button {

}

#chart {
  position: relative;
  z-index: 0;
}

#tag {
  z-index: 10;
}

.wrapperEvent {
  min-height: rem(300);
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  opacity: 0.8;
  padding-bottom: rem(100);
  .event {
    text-align: center;
    &-name {
      display: inline-block;
      margin: 10px;
      cursor: pointer;
    }
  }

}

.modalControlPanel {
  width: 90%;
  height: rem(100);
  margin: auto;
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  .elementAbsolute {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }

  .elementForm {
    border: #269fd8 solid rem(1);
    border-radius: rem(10);
    padding: rem(5);
    //border: none;
    text-align: center;
    width: 80%;
  }

  //textarea {
  //  border: #269fd8 solid 1px;
  //  border-radius: 10px;
  //  padding: 5px;
  //  //border: none;
  //  text-align: center;
  //  width: 80%;
  //}

  //input {
  //  border: #269fd8 solid 1px;
  //  border-radius: 10px;
  //  padding: 5px;
  //}
  .colorSelection {
    label {
      width: rem(30);
      height: rem(30);
      border-radius: 50%;
      //border: #009AC9 1px solid;
      margin: rem(5);
      display: block;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;
      &:checked + label {
        box-shadow: 0 0 rem(10) #009ac9;
      }
    }
  }

  select {
    border: rem(1) solid #269fd8;
    border-radius: rem(10);
    margin: rem(5);
    padding: rem(5);
    cursor: pointer;
  }

}

.colorSelection {
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.panelChangeEvent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.infoEvent {
  text-align: left;
  p {
    padding-left: 24px;
    span {
      color: #009ac9;
    }
  }
}

.checked-info-event {
  display: block;
  height: 20px;
  width: 20px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  float: left;
  cursor: pointer;

  &-close {
    background-image: url("../img/close.svg");
  }
  &-edit {
    background-image: url("../img/checked.svg");
  }
  &-delet {
    background-image: url("../img/trash.svg");
  }
}

.rectBlock {
  position: relative;
  z-index: 100;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;

  }
}

.grid .tick {
  opacity: 0.5;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#tag {
  color: white;
  background: #FA283D;
  width: 150px;
  position: absolute;
  display: none;
  padding: 3px 6px;
  margin-left: -80px;
  font-size: 11px;
}

#tag:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-bottom-color: #FA283D;
  top: -20px;
}