doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        title default
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimal-ui")
        link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    body
        div.google-button
            p(id="authorize-text") Вы можете синхронизировать ваши события со своим Google календарем
            button(id="authorize-button" style="display: none;") Authorize
            button(id="signout-button"  style="display: none;") Sign Out
        div#root

